body {
    margin: 0;
    background: url(Background.png) no-repeat fixed center;
    background-size: cover;
}

/* header */

.header {
    background-color: #f1f1f1;
    padding: 20px 20px 20px;
    text-align: center;

}

.header h1 {
    text-align: center;
    position: relative;
    animation-name: HeaderAnimation;
    animation-duration: 10s;
    animation-iteration-count: 3;
}

@-webkit-keyframes HeaderAnimation {
    0% {
        color: red;
        left: 0px;
    }
    25% {
        color: yellow;
        left: 0px;

    }
    50% {
        color: blue;
        left: 500px;
    }
    75% {
        color: green;
        left: -500px;
    }
    100% {
        color: red;
        left: 0px;

    }
}

/* Navigation */

/* Catholic Column*/

.Column {
    float: left;
    width: 100%;
    padding: 25px 0px 75px;
    background-color: darkgrey;
}

.Column h2 {
    text-align: center;
}

.Column a:link {
    position: relative;
    right: -480px;
    padding: 10px 50px 10px;
    background-color: pink;
    color: white;
    padding: 25px 75px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid red;
}

.Column a:hover {
    background-color: red;
    color: aliceblue;
}

.Column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

.Column li {
    float: left;

}

.Column:hover {
    border: 1px solid black;
    padding: 25px 0px 75px;
    background-color: lightblue;
    background-size: contain;
    color: white;
}

.ColumnPic {
    text-align: center;

}

.row:after {
    content"";
    display: table;
    clear: both;
}

/* Iglesia Column*/

.Iglesia {
    float: left;
    width: 100%;
    padding: 25px 0px 75px;
    background-color: green;
}

.Iglesia h2 {
    text-align: center;
}

.Iglesia a:link {
    position: relative;
    right: -480px;
    padding: 10px 50px 10px;
    background-color: yellow;
    color: white;
    padding: 25px 75px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid red;
}

.Iglesia a:hover {
    background-color: skyblue;
    color: white;
}

.Iglesia ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

.Iglesia li {
    float: left;

}

.Iglesia:hover {
    border: 1px solid black;
    padding: 25px 0px 75px;
    background-color: red;
    background-size: contain;
    color: white;
}

.IglesiaPic {
    text-align: center;

}

.Padding {
    text-align: center;
    float: left;
    width: 100%;
    padding: 25px 0px 75px;
    background-color: darkgrey;
}



.BottomNavbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.BottomNavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.BottomNavbar a:hover {
  background: #f1f1f1;
  color: black;
}

.BottomNavbar a.active {
  background-color: #4CAF50;
  color: white;
}


}